.stats>ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    justify-items: center;
}

.stats>ul>li {
    list-style: none;
    border-radius: 25px;
    border: 2px solid #396cd8;
    padding: 1em;
    text-align: center;
    max-width: 300px;
}

.stats>ul>li>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.facturacion_title,
.ventas_title {
    display: flex;
    justify-content: space-between;
}

#reload_buyers,
#reload_sells {
    background-color: transparent;
}